.navbar-container {
  display: flex;
  flex-direction: row;
  background-color: #2f3c4f;

  .nav-menu {
    margin: 10px;

    .menu-list {
      display: flex;
      // align-items: flex-end;
      // justify-content: space-between;

      .menu {
        margin: 10px;
        padding: 10px;
      }
    }
  }
}
ul {
  list-style-type: none;
}
